body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    flex-direction: column; 
    position: relative;
    
    background: #004d99;
    color: #fff;
    padding: 20px;
    padding-top: 30px; 
    padding-left: 0px; 
    align-items: center; 
}

.header-foto {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%);  
    width: 190px; 
    height: 190px;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid white;
}

@media (max-width: 768px) {
    .header-foto {
        position: static;
        margin: 0 auto 10px; 
        transform: none;
        width: 100px; 
        height: 100px;
    }
    
    header {
        padding: 10px 20px; 
        align-items: center; 
    }

    header h1, 
    header p,
    header nav {
        text-align: center; 
    }
}

header h1 {
    margin-bottom: 5px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #004d99;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.bloco-curriculo {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 3px solid #004d99;
    background-color: #f9f9f9;
}

.bloco-curriculo h4 {
    margin-top: 0;
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.contato {
    font-size: 0.9em;
    margin-top: 0;
}

.contato img {
    width: 30px; 
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

footer {
    display: flex;
    flex-direction: column; 
    position: relative;
    text-align: center;
    padding: 10px;
    background: #004d99;
    color: #fff;
    bottom: 0;
}

section img{
    width: 50px;
}

section ul img {
    width: 70px;
}